[user]
        email = tille100@gmail.com
        name  = Jorman Bustos

[color]
        diff = auto
        status = auto
        branch = auto

[color "diff"]
        meta = yellow

[branch]
        autosetuprebase = always

[branch "master"]
        remote = origin
        merge = refs/heads/master
        rebase = true

[alias]
        st = status
        ci = commit
        br = branch
        co = checkout
        df = diff
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr - %cn)%Creset' --abbrev-commit --date=relative

[rerere]
        enabled = 1

[push]
        default = current

[core]
        editor = vim